mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

mat-dialog-content {

}

mat-card-title {
  height: 50px;
}

img {
  width: 100%;
}

@media screen {
  
}