<!DOCTYPE html>
<mat-card>
  <mat-card-content>
    <form>
      <!-- Double binding Username using ngModel directive-->
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        >
      </mat-form-field>
      <!-- Double binding Password using ngModel directive-->
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Password"
          placeholder="Password"
          type="password"
          name="Password"
          required
        >
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        (click)="loginUser()"
      >
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
